<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
    <div id="app">
        <div class="box">
            <div class="holder headline">
                Travel App
            </div>
            <p>This is an app. This is an app. This is an app. This is an app. This is an app. This is an app. This is an app. This is an app. This is an app. This is an app. </p>
            <div class="holder city">
                <label for="city">Enter City here</label>
                <input type="text" id='postCity' placeholder="Enter city here">
            </div>
            <div class="holder country">
                <label for="country">Enter Country here</label>
                <input type="text" id='postCountry' placeholder="Enter country here">
            </div>
            <!-- <div class="holder feel"> -->
            <!-- <label for="feelings">How are you feeling today?</label> -->
            <!-- <textarea class="myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea> -->
            <!-- <button id="generate" type="submit"> <span>Generate </span></button> -->
            <!-- </div> -->
            <div class="holder date">
                <label for="startDate">Enter start date here</label>
                <input type="date" id='postStartDate' placeholder="24-06-2020">
            </div>
            <div class="holder date">
                <label for="endDate">Enter end date here</label>
                <input type="date" id='postEndDate'>
            </div>
            <div class="holder button">
                <button id="generate" type="submit"> <span>Generate </span></button>
            </div>

        </div>
        <div class="box">
            <div class="holder entry">
                <div class="title">Future Holidays</div>
                <div id="entryHolder">
                </div>
            </div>
        </div>
    </div>
    <script src="app.js" type="text/javascript"></script>

</body>

</html>