.inputs {
    width: 70%;
    max-width: 700px;
    margin: auto;
}

.holder {
    display: grid;
    text-align: center;
}

.entry {
    background: rgba(94, 113, 155, 0.4);
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px
}

#entryHolder {
    margin-top: 10px;
}

.holiday {
    background: rgba(59, 140, 227, 0.4);
    padding-top: 25px;
    margin-bottom: 25px
}

.holiday-picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.description {
    // border: 3px solid blue;
}

.description-day {
    padding-bottom: 10px;
}

label {
    display: block;
    font-size: 24px;
    margin: auto;
    text-align: left;
    padding-top: 15px;
}

input {
    display: block;
    height: 50px;
    width: 66%;
    background: #22b2da;
    color: #041f3c;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin: auto;
    padding-left: 2%;
    padding-right: 2%;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #4a627b;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #4a627b;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #4a627b;
    font-family: 'Oswald', sans-serif;
}

@media(min-width:700px) {
    .inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: auto;
    }
}