.headline {
    color: #266559;
    font-size: 3em;
    padding-top: 25px;
    padding-bottom: 25px;
}

.title {
    color: #90a0c2;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 15px;
}